<!-- ============================================================== -->
<!-- Start right Content here -->
<!-- ============================================================== -->
<div class="content-page">
  <!-- Start content -->
  <div class="content">
    <div class="container-fluid">
      <!-- Page-Title -->
      <div class="row">
        <div class="col-sm-12">
          <div class="page-header-2">
            <ol class="breadcrumb pull-right mb-0">
              <li class="breadcrumb-item"><a href="#">Ubold</a></li>
              <li class="breadcrumb-item"><a href="#">Layouts</a></li>
              <li class="breadcrumb-item active">Header 2</li>
            </ol>
            <h4 class="page-title">Header 2</h4>
            <div class="clearfix"></div>
          </div>
        </div>
      </div>

      <div style="min-height: 1000px;"></div>
    </div>
    <!-- container -->
  </div>
  <!-- content -->

  <footer class="footer text-right">
    &copy; 2016 - 2018. All rights reserved.
  </footer>
</div>

<!-- ============================================================== -->
<!-- End Right content here -->
<!-- ============================================================== -->
